﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/css/instructor/vertical-responsive-menu.min.css">
    <link rel="stylesheet" href="~/css/instructor/style.css">
    <link rel="stylesheet" href="~/css/instructor/responsive.css">
    <link rel="stylesheet" href="~/css/instructor/night-mode.css">
    <link rel="stylesheet" href="~/css/instructor/instructor-dashboard.css">
    <link rel="stylesheet" href="~/css/instructor/instructor-responsive.css">
    <link rel="stylesheet" href="~/css/instructor/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/instructor/owl.carousel.css">
    <link rel="stylesheet" href="~/css/instructor/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/instructor/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/instructor/semantic.min.css">
    <link rel="stylesheet" href="~/css/instructor/snackbar.min.css">
    <link rel="stylesheet" href="~/css/instructor/instructor-dashboard.css">
    <link rel="stylesheet" href="~/css/instructor/instructor-responsive.css">
    <script src="https://cdn.onesignal.com/sdks/OneSignalPageSDKES6.js?v=151514" async=""></script>
    <style>
        .ejoy-sub-active {
            color: #1296ba !important;
        }

        .ejoy-sub-hovered {
            color: #1296ba !important;
        }

        .ejoy-sub-clzz {
            cursor: pointer;
            line-height: 1.2;
            font-size: 28px;
            color: #FFCC00;
            background: rgba(17, 17, 17, 0.7);
        }

            .ejoy-sub-clzz:hover {
                color: #1296ba !important;
            }

        .ej-trans-sub {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999999;
            cursor: move;
        }

            .ej-trans-sub > span {
                color: #3CF9ED;
                font-size: 18px;
                text-align: center;
                padding: 0 16px;
                line-height: 1.5;
                background: rgba(32, 26, 25, 0.8);
                /* // text-shadow: 0px 1px 4px black; */
                padding: 0 8px;
                line-height: 1.2;
                font-size: 16px;
                color: #0CB1C7;
                background: rgba(67, 65, 65, 0.7);
            }

        .ej-main-sub {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99999999;
            cursor: move;
            padding: 0 8px;
        }

            .ej-main-sub > span {
                color: white;
                font-size: 20px;
                line-height: 1.5;
                text-align: center;
                background: rgba(32, 26, 25, 0.8);
                /* text-shadow: 0px 1px 4px black; */
                padding: 2px 8px;
                line-height: 1.2;
                font-size: 28px;
                color: #FFCC00;
                background: rgba(17, 17, 17, 0.7);
            }

            .ej-main-sub .ejoy-sub-clzz {
                background: transparent !important
            }

        .tran-subtitle > span {
            cursor: pointer;
            padding-left: 10px;
            top: 2px;
            position: relative;
        }

            .tran-subtitle > span > span {
                position: absolute;
                top: -170%;
                background: rgba(0,0,0,0.5);
                font-size: 13px;
                line-height: 20px;
                padding: 2px 8px;
                color: white;
                display: none;
                border-radius: 4px;
                white-space: nowrap;
                left: -50%;
                font-weight: normal;
            }

        .view-icon-copy-main-sub:hover > span, .view-icon-edit-sub:hover > span, .view-icon-copy-tran-sub:hover > span {
            display: block;
        }

        .tran-subtitle > span > svg {
            width: 16px;
            height: 16px;
            pointer-events: none;
            display: inline-flex !important;
            vertical-align: baseline !important;
        }

        .view-icon-copy-main-sub > svg {
            pointer-events: none;
            color: #FFCC00
        }

        .view-icon-copy-tran-sub {
            padding-left: 0 !important;
            padding-right: 8px !important;
        }

            .view-icon-copy-tran-sub > svg {
                pointer-events: none;
                color: #0CB1C7
            }
    </style>
</head>

<body>

    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
            <i class="uil uil-bars"></i>
        </button>
        <button id="collapse_menu" class="collapse_menu">
            <i class="uil uil-bars collapse_menu--icon "></i>
            <span class="collapse_menu--label"></span>
        </button>
        <div class="main_logo" id="logo">
            <a href="/Instructor/Dashboard">
                <img src="~/img/logo.png" height="60" style="margin-left: 20px" alt="">
            </a>
            <a href="/Instructor/Dashboard">
                
                <img class="logo-inverse" src="~/img/logo.png" height="60" style="margin-left: 20px" alt="">

            </a>
        </div>
        <div class="top-category">

        </div>
        <div class="search120">

        </div>
        <div class="header_right">
            <ul>
                <li>
                    <a href="/Course/Create"
                       class="upload_btn" title="Create New Course">Create New Course</a>
                </li>
                <li class="ui dropdown" tabindex="0">
                    <a href="#" class="opts_account" title="Account">
                        <img src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png" alt="">
                    </a>
                    <div class="menu dropdown_account" tabindex="-1">
                        <div class="channel_my">
                            <div class="profile_link">
                                <img src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png"
                                     alt="">
                                <div class="pd_content">
                                    <div class="rhte85">
                                        <h6>@User.Claims.ElementAt(1).Value</h6>
                                    </div>
                                    <span>@User.Claims.ElementAt(2).Value</span>
                                </div>
                            </div>

                        </div>
                        <div class="night_mode_switch__btn">
                            <a href="#" id="night-mode" class="btn-night-mode">
                                Night mode
                                <span class="btn-night-mode-switch">
                                    <span class="uk-switch-button"></span>
                                </span>
                            </a>
                        </div>
                        <a href="#"
                           class="item channel_item">Profile</a>
                        <a href="/Account/Logout"
                           class="item channel_item">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <nav class="vertical_nav">
        <div class="left_section menu_left" id="js-menu">
            <div class="left_section">
                <ul>
                    <li class="menu--item">
                        <a href="/Instructor/Dashboard"
                           class="menu--link active" title="Dashboard">
                            <span style="margin-left:40px;" class="menu--label">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="/Course/CourseInstructor"
                           class="menu--link " title="Courses">
                            <span style="margin-left:40px;" class="menu--label">Courses</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="/Course/Create"
                           class="menu--link " title="Create Course">
                            <span style="margin-left:40px;" class="menu--label">Create Course</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#"
                           class="menu--link " title="Messages">
                            <span style="margin-left:40px;" class="menu--label">Messages</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#"
                           class="menu--link  " title="Notifications">
                            <span style="margin-left:40px;" class="menu--label">Live</span>
                        </a>
                    </li>

                    <li class="menu--item">
                        <a href="/Review/Index"
                           class="menu--link " title="Reviews">
                            <span style="margin-left:40px;" class="menu--label">Reviews</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#"
                           class="menu--link " title="Earning">
                            <span style="margin-left:40px;" class="menu--label">Earning</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="/Payout/Payout"
                           class="menu--link " title="Payout">
                            <span style="margin-left:40px;" class="menu--label">Payout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="left_section pt-2">
                <ul>
                    <li class="menu--item">
                        <a href="#"
                           class="menu--link " title="Setting">
                            <span style="margin-left:40px;" class="menu--label">Setting</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#"
                           title="Help">
                            <span style="margin-left:40px;" class="menu--label">Help</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#"
                           class="menu--link " title="Send Feedback">
                            <span style="margin-left:40px;" class="menu--label">Send Feedback</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="sa4d25">
            @RenderBody()
        </div>

        <footer class="footer mt-40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-9 col-md-9">
                        <div class="item_f1">
                            <a href="">
                                Copyright
                                Policy
                            </a>
                            <a href="">Terms</a>
                            <a href="">
                                Privacy
                                Policy
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="item_f1">

                            <div class="lng_btn mt-0">
                                <div class="ui language bottom right pointing dropdown floating" id="languages"
                                     data-content="Select Language" tabindex="0">
                                    <a href="#">
                                        <i class="uil uil-globe lft"></i>Language<i class="uil uil-angle-down rgt"></i>
                                    </a>
                                    <div class="menu" tabindex="-1">
                                        <div class="scrolling menu">
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.href ='/';">
                                                <span class="description">English</span>
                                                en
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.href ='/';">
                                                <span class="description">Spanish</span>
                                                es
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.href ='/';">
                                                <span class="description">arabic</span>
                                                ar
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.href ='/';">
                                                <span class="description">Türkçe</span>
                                                TR
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.href ='/';">
                                                <span class="description">Portugues</span>
                                                Pt
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.href ='/';">
                                                <span class="description">da</span>
                                                da
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.href ='/';">
                                                <span class="description">FPT</span>
                                                fp
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="footer_bottm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="edu_social_links">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                        <a href="#">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/vertical-responsive-menu.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/semantic.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/night-mode.js"></script>
    <script src="~/js/snackbar.min.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

    <script>
        var OneSignal = OneSignal || [];

        OneSignal.push(function () {
            OneSignal.init({
                appId: "1ab5fe2e-5b2a-4698-a5b6-7fc074dc7053",

            });

        });
        OneSignal.push(function () {
            OneSignal.getUserId(function (userId) {
                console.log('userId', userId);

                var token = "Evonikm1qaWQvJ3jF74p2MeNwjCeCqmYfBeQHCX3";

                $.post("/savedevicetoken", {

                    '_token': token,
                    'device_token': userId,
                });

            });
        });
    </script>




    <div id="eJOY__extension_root" class="eJOY__extension_root_class" style="all: unset;"></div><iframe id="nr-ext-rsicon"
                                                                                                        style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;"></iframe>
</body>

</html>