﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="~/css/vertical-responsive-menu.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/night-mode.css">
    <link rel="stylesheet" href="~/css/instructor-dashboard.css">
    <link rel="stylesheet" href="~/css/instructor-responsive.css">
    <!-- <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/semantic.min.css">
    <link rel="stylesheet" href="~/css/snackbar.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.onesignal.com/sdks/OneSignalPageSDKES6.js?v=151514" async=""></script>

</head>

<body>
    
    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        <button id="collapse_menu" class="collapse_menu">
            <i class="fa-solid fa-bars collapse_menu--icon"></i>
            <span class="collapse_menu--label"></span>
        </button>
        <div class="main_logo" id="logo">
            <a href="/Home/Index">
                <img src="~/img/logo.png" height="60"  style="margin-left: 20px;" alt="">
            </a>
            <a href="/Home/Index">
                <img class="logo-inverse"
                     src="https://saasmonks.in/App-Demo/Cursus-33214/public/frontend/images/ct_logo.svg" alt="">
            </a>
        </div>

        <div class="search120">
            <div class="ui search">
                <div class="ui left icon input swdh10">
                    <input class="prompt srch10" type="text" width="100" id="search"
                            placeholder="Search for Tuts Videos, Tutors, Tests and more.." name="q">
                        
                </div>
            </div>
        </div>
        <div class="header_right">
            <ul>
                @if (User.Claims != null && User.Claims.ToArray().Length >= 8 && User.Claims.ElementAt(8).Value != null)
                {
                    <li>
                        <a href="/Account/Logout" class="upload_btn"
                           title="Create New Course">Hi, @User.Claims.ElementAt(1).Value</a>
                    </li>
                    <li class="ui dropdown" tabindex="0">
                        <a href="#" class="opts_account" title="Account">
                            <img src="https://elead.com.vn/wp-content/uploads/2020/04/anh-dai-dien-facebook-14.jpg" alt="">
                        </a>
                        <div class="menu dropdown_account" tabindex="-1">
                            <div class="channel_my">
                                <div class="profile_link">
                                    <img src="https://elead.com.vn/wp-content/uploads/2020/04/anh-dai-dien-facebook-14.jpg"
                                         alt="">
                                    <div class="pd_content">
                                        <div class="rhte85">
                                            <h6>@User.Claims.ElementAt(1).Value</h6>
                                            <div class="mef78" title="Verify">
                                                <i class="uil uil-check-circle"></i>
                                            </div>
                                        </div>
                                        <span href="/Account/Logout">Logout</span>
                                    </div>
                                </div>

                            </div>
                            <div class="night_mode_switch__btn">
                                <a href="#" id="night-mode" class="btn-night-mode">
                                    <i class="uil uil-moon"></i> Night mode
                                    <span class="btn-night-mode-switch">
                                        <span class="uk-switch-button"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                }
                else
                {

                    <li>
                        <a href="/Account/Login" class="upload_btn"
                           title="Create New Course">Login</a>
                    </li>
                    <li>
                        <a href="/Account/Register" class="upload_btn"
                           title="Create New Course">Register</a>
                    </li>
                    <li class="ui dropdown" tabindex="0">
                        <a href="#" class="opts_account" title="Account">
                            <img src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png" alt="">
                        </a>
                        <div class="menu dropdown_account" tabindex="-1">
                            <div class="channel_my">
                                <div class="profile_link">
                                    <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/frontend/images/hd_dp.jpg"
                                         alt="">
                                    <div class="pd_content">
                                        <div class="rhte85">
                                            <h6>Guest</h6>
                                            <div class="mef78" title="Verify">
                                                <i class="uil uil-check-circle"></i>
                                            </div>
                                        </div>
                                        <span href="/Account/Login">Please Login to your account</span>
                                    </div>
                                </div>

                            </div>
                            <div class="night_mode_switch__btn">
                                <a href="#" id="night-mode" class="btn-night-mode">
                                    <i class="uil uil-moon"></i> Night mode
                                    <span class="btn-night-mode-switch">
                                        <span class="uk-switch-button"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                }


            </ul>
        </div>
    </header>
    <nav class="vertical_nav">
        <div class="left_section menu_left" id="js-menu">
            <div class="left_section">
                <ul>
                    <li class="menu--item">
                        <a href="/Home/Index" class="menu--link active"
                           title="Home">
                            <i class="uil uil-home-alt menu--icon"></i>
                            <span class="menu--label">Home</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#" class="menu--link "
                           title="Live Streams">
                            <i class="uil uil-kayak menu--icon"></i>
                            <span class="menu--label">Live Streams</span>
                        </a>
                    </li>
                    @if (User.Claims != null && User.Claims.ToArray().Length >= 8 && User.Claims.ElementAt(8).Value != null)
                    {
                        <li class="menu--item">
                            <a href="/Course/Enrollment" class="menu--link "
                               title="Explore">
                                <i class="uil uil-search menu--icon"></i>
                                <span class="menu--label">Enrolled</span>
                            </a>
                        </li>
                    } 
                        <li class="menu--item menu--item__has_sub_menu ">
                            <label class="menu--link" title="Categories">
                                <span class="menu--label">Categories</span>
                            </label>
                            <ul class="sub_menu" id="list_Categories">
                            </ul>
                        </li>

                        <li class="menu--item">
                            <a href="#" class="menu--link "
                               title="Saved Courses">
                                <i class="uil uil-heart-alt menu--icon"></i>
                                <span class="menu--label">Saved Courses</span>
                            </a>
                        </li>

                        <li class="menu--item">
                            <a href="#" class="menu--link "
                               title="Saved Courses">
                                <i class="uil uil-abacus menu--icon"></i>
                                <span class="menu--label">Filter</span>
                            </a>
                        </li>

                    </ul>
            </div>
            <div class="left_section pt-2">
                <ul>
                    <li class="menu--item">
                        <a href="#" class="menu--link"
                           title="Setting">
                            <i class="uil uil-cog menu--icon"></i>
                            <span class="menu--label">Setting</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#" class="menu--link "
                           title="Help">
                            <i class="uil uil-question-circle menu--icon"></i>
                            <span class="menu--label">Help</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="#" class="menu--link "
                           title="Report History">
                            <i class="uil uil-windsock menu--icon"></i>
                            <span class="menu--label">Report History</span>
                        </a>
                    </li>

                    <li class="menu--item ">
                        <a href="#" class="menu--link "
                           title="Send Feedback">
                            <i class="uil uil-comment-alt-exclamation menu--icon"></i>
                            <span class="menu--label">Send Feedback</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="wrapper">
        <div class="sa4d25">
            <div class="container-fluid">
                <div class="row searchCourse" id="searchCourse">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer class="footer mt-40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-9 col-md-9">
                        <div class="item_f1">
                            <a href="">
                                Copyright
                                Policy
                            </a>
                            <a href="">Terms</a>
                            <a href="">
                                Privacy
                                Policy
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="item_f1">

                            <div class="lng_btn mt-0">
                                <div class="ui language bottom right pointing dropdown floating" id="languages"
                                     data-content="Select Language" tabindex="0">
                                    <a href="#">
                                        <i class="uil uil-globe lft"></i>Language<i class="uil uil-angle-down rgt"></i>
                                    </a>
                                    <div class="menu" tabindex="-1">
                                        <div class="scrolling menu">
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.reload();">
                                                <span class="description">English</span>
                                                en
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.reload();">
                                                <span class="description">Spanish</span>
                                                es
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.reload();">
                                                <span class="description">arabic</span>
                                                ar
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.reload();">
                                                <span class="description">Türkçe</span>
                                                TR
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.reload();">
                                                <span class="description">Portugues</span>
                                                Pt
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.reload();">
                                                <span class="description">da</span>
                                                da
                                            </div>
                                            <div class="item" data-percent="100" data-value="en" data-english="English"
                                                 onclick="window.location.reload();">
                                                <span class="description">FPT</span>
                                                fp
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/vertical-responsive-menu.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/semantic.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/night-mode.js"></script>
    <script src="~/js/snackbar.min.js"></script>
    <script src="~/js/popup.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = OneSignal || [];

        OneSignal.push(function () {
            OneSignal.init({
                appId: "1ab5fe2e-5b2a-4698-a5b6-7fc074dc7053",

            });

        });
        OneSignal.push(function () {
            OneSignal.getUserId(function (userId) {
                console.log('userId', userId);

                var token = "8sI7UEkl3Vp8zprDBZKOXVXWslgL5Vtb7je8VoOi";

                $.post("/savedevicetoken", {

                    '_token': token,
                    'device_token': userId,
                });

            });
        });
    </script>
    <script>
        var searchResult = [];
        $(function () {
            $("#search").on("keyup", function () {
                $(".searchCourse").html("");
                var val = $.trim(this.value);
                if (val) {
                    val = val.toLowerCase();
                    $.each(searchResult, function (_, value) {
                        // console.log(val,value.name.toLowerCase().indexOf(val),value)
                        if (value.title.toLowerCase().indexOf(val) != -1) {
                            $(".searchCourse").append(
                                `<div class="fcrse_1 mb-30">
                                    <a href="/Course/CourseEnrolled?id=${value.id}"
                                       class="hf_img">
                                        <img src="${value.image}"
                                             alt="">
                                        <div class="course-overlay">

                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="hs_content">
                                        <div class="eps_dots eps_dots10 more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a href="#"
                                                   target="_blank">
                                                    <span>
                                                        <i class="uil uil-print"></i>Invoice
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">
                                                452
                                                views
                                            </span>
                                            <span class="vdt14">${value.updateAt}</span>
                                        </div>
                                        <a href="/Course/CourseEnrolled?id=${value.id}"
                                           class="crse14s title900">${value.title}</a>
                                        <a href="#" class="crse-cate">
                                            abc
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="#">${value.username}</a>
                                            </p>
                                            <div class="prce142">
                                                $${value.price}
                                            </div>


                                        </div>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                create at ${value.updateAt}
                                            </p>
                                        </div>
                                    </div>
                                </div>`
                            );
                        }
                    });
                }
            });
        });
        $.ajax({
            type: 'GET',
            url: "http://localhost:57678/Category",
            success: function (data) {
                $.each(data, function (key, value) {

                    $('#list_Categories').append(
                        `<li class="sub_menu--item">
                                <a href="/Course/Category?id=${value.id}"
                                    class="sub_menu--link">`+ value.name + `</a>
                            </li>`
                    );
                });
            },
        });

        $.ajax({
            type: 'GET',
            url: "http://localhost:57678/Search",
            success: function (data) {
                searchResult = data;
            },
        });
        
        
    </script>



    <div id="eJOY__extension_root" class="eJOY__extension_root_class" style="all: unset;"></div><iframe id="nr-ext-rsicon"
                                                                                                        style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;"></iframe>
</body>

</html>