﻿
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-lg-8">
        <div class="section3125">
            <div class="explore_search">
                <div class="ui search focus">
                          method="post">
                        <input type="hidden" name="_token"
                               value="KwI6Ix6HB0uobEsopqYKyNXau8VDRIfOcKMjkECu">
                        <div class="ui left icon input swdh11">
                            <input class="prompt srch_explore" type="text"
                                   placeholder="Search Courses..." name="q" value="">
                            <i class="uil uil-search-alt icon icon2"></i>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="_14d25">
            <div class="row mt-30" id="cate_course">
                <div class="col-12">
                    <h4 class="item_title">Courses</h4>
                </div>
                
                <div class="col-md-12 text-center">
                    <div class="main-loader mt-50">
                        <div class="ui pagination menu" role="navigation">

                            <a class="icon item disabled" aria-disabled="true" aria-label="« Previous">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="item active"
                               href="#"
                               aria-current="page">1</a>
                            <a class="item"
                               href="#">
                            2</a>

                            <a class="icon item"
                               href="#"
                               rel="next" aria-label="Next »"> <i class="right chevron icon"></i> </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: 'http://localhost:57678/Course/Category/@ViewBag.cateId',
        success: function (data) {
            $.each(data, function (key, value) {
                $('#cate_course').append(
                    `<div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="item">
                        <div class="fcrse_1 mb-20">
                            <a href="#"
                               class="fcrse_img">
                                <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                     alt="">
                                <div class="course-overlay">

                                    <span class="play_btn1"><i class="uil uil-play"></i></span>

                                    <div class="crse_timer">
                                        0 hours
                                    </div>
                                </div>
                            </a>
                            <div class="fcrse_content">
                                <div class="eps_dots more_dropdown">
                                    <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                    <div class="dropdown-content">
                                        <a target="popup"
                                           onclick="window.open('#','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                            <span><i class="uil uil-share-alt"></i>Share</span>
                                        </a>
                                        <a href="#">
                                            <span>
                                                <i class="uil uil-heart"></i>
                                                Save
                                            </span>
                                        </a>


                                        <a href="#">
                                            <span><i class="uil uil-windsock"></i>Report</span>
                                        </a>

                                    </div>
                                </div>
                                <div class="vdtodt">
                                    <span class="vdt14">258 views</span>
                                    <span class="vdt14">4 months ago</span>
                                </div>
                                <a href="/Course/CourseDetail?id=${value.id}"
                                   class="crse14s">${value.title}</a>
                                <a href="#" class="crse-cate">
                                    ${value.category}
                                </a>
                                <div class="auth1lnkprce">
                                    <p class="cr1fot">
                                        By <a href="#">Jemmy</a>
                                    </p>
                                    <div class="prce142">$${value.price}</div>
                                    <button onclick="window.location.href = '#';"
                                            class="shrt-cart-btn" title="cart">
                                        <i class="uil uil-shopping-cart-alt"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
                );
            });
        }
    });
</script>
