﻿
@{
    ViewData["Title"] = "CourseWaiting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Waiting for approve</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Waiting for approve</a></div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-12 ">
                <div class="card">
                    <div class="card-header">
                        <h4>Courses List</h4>

                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div id="datatable_wrapper"
                                 class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <div class="dt--top-section">
                                    <div class="row">
                                        <div class="d-flex justify-content-md-start justify-content-center">
                                            <div class="dt-buttons">
                                                <button class="dt-button buttons-copy buttons-html5 btn btn-sm"
                                                        tabindex="0" id="copy_btn" type="button"
                                                        aria-controls="datatable">
                                                    <span>Copy</span>
                                                </button>
                                                <button class="dt-button buttons-csv buttons-html5 btn btn-sm"
                                                        tabindex="0" onclick="exporttocsv()"
                                                        aria-controls="datatable">
                                                    <span>CSV</span>
                                                </button>
                                                <button class="dt-button buttons-excel buttons-html5 btn btn-sm"
                                                        tabindex="0" onclick="exportexcel()"
                                                        aria-controls="datatable">
                                                    <span>Excel</span>
                                                </button>
                                                <button class="dt-button buttons-print btn btn-sm"
                                                        tabindex="0" onclick="printList.printTable()"
                                                        aria-controls="datatable">
                                                    <span>Print</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-md-end justify-content-center mt-md-0 mt-3">
                                            <div id="datatable_filter" class="dataTables_filter">
                                                <label>
                                                    Search:<input type="search" class="form-control" id="myInput"
                                                                  placeholder="Search..."
                                                                  aria-controls="datatable">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-container">
                                    <div id="list" style="width:100%">
                                        <table class="table" id="mytable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="list_courseWaiting">
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="pageding">
                                        <li>
                                            <div class="div-show-number">Showing page 1 of 14</div>

                                        </li>
                                        <li>
                                            <div class="div-page-number">
                                                <ul class="ul-page-number">
                                                    <li class="page-number">
                                                        <a>
                                                            <i class="fa-solid fa-left-long"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a class="page-first">1</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>2</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>3</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>4</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>
                                                            <i class="fa-solid fa-right-long"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/Table2CSV/jquery.tabletoCSV.js" type="text/javascript"></script>
<script src="~/js/Table2excel/jquery.table2excel.js" type="text/javascript"></script>

<script type="text/javascript">
    function exporttocsv() {
        $("#mytable").tableToCSV({
            filename: 'WaitingCourses'
        });
    }
    function exportexcel() {
        $("#mytable").table2excel({
            name: "Table",
            filename: "WaitingCourses",
            fileext: ".xls"
        });
    }

    var copyBtn = document.querySelector('#copy_btn');
    copyBtn.addEventListener('click', function () {
        var urlField = document.querySelector('mytable');

        // create a Range object
        var range = document.createRange();

        // set the Node to select the “range”

        range.selectNode(urlField);

        // add the Range to the set of window selections
        window.getSelection().addRange(range);

        // execute ‘copy’, can't ‘cut’ in this case
        document.execCommand('copy')
    }, false);


    let printList = new function () {
        this.printTable = function () {
            let tab = document.getElementById('mytable');
            let win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#list tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/ApproveCourse",
        success: function (data) {
            $.each(data, function (key, value) {
                var status
                if (value.status == 'true') {
                    status = 'Active'
                } else {
                    status = 'De-Active'
                }

                $('#list_courseWaiting').append(
                    `<tr>
                        <th scope="row">1</th>
                        <td>${value.title}</td>
                        <td>${value.category}</td>
                        <td>${status}</td>
                        <td>${value.price}</td>
                        <td>
                            <button onclick="approve('${value.id}')">Approve</button>
                        <button onclick="delete_course('${value.id}')">Reject</button>
                        </td>
                    </tr>
                    `
                );
            });
        },
    });

    function approve(id) {
        $.ajax({
            url: "http://localhost:57678/Courses/Active/" + id,
            type: "PUT",
            contentType: "application/json",
            success: function () {
                window.location.reload();
            }
        })
    }

    function delete_course(id) {
        $.ajax({
            url: "http://localhost:57678/Course/" + id,
            type: "put",
            contentType: "application/json",
            success: function () {
                window.location.reload();
            }
        })
    }
</script>

