﻿
@{
    ViewData["Title"] = "CourseEnrolled";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Hello, world!</title>
    <style>
        .list-group-item-danger {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .non-border {
            border: none !important;
        }

        .nav-link {
            color: black !important;
        }

        .active {
            color: #dc3545 !important;
        }

        .reply {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Home
            </a>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ratio ratio-16x9" id="course_video">

                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="text_overview" onclick="overview_switch()" href="#">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text_comment" onclick="comment_switch()" href="#">Comment</a>
                        </li>
                    </ul>
                    <div class="container" id="overview_form" style="margin-top: 20px;">

                    </div>
                    <div class="container" id="comment_form" style="margin-top: 20px; display:none;">

                        <div class="card">
                            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                <div class="d-flex flex-start w-100">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                                         height="40" />
                                    <div class="form-outline w-100">
                                        <textarea class="form-control" id="comment" rows="4" placeholder="Comment"
                                                  style="background: #fff;"></textarea>
                                    </div>
                                </div>
                                <div class="float-end mt-2 pt-1">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="comment()">Post comment</button>
                                    <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-danger rounded-0">
                            <h5 class="mb-1">Content</h5>
                        </div>
                    </div>
                    <div class="list-group" id="list_course_sections">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        function comment_switch() {
            document.getElementById("comment_form").style.display = 'block';
            document.getElementById("text_comment").classList.toggle('active');
            document.getElementById("overview_form").style.display = 'none';
            document.getElementById("text_overview").classList.remove('active');
        }
        function overview_switch() {
            document.getElementById("comment_form").style.display = 'none';
            document.getElementById("text_overview").classList.toggle('active');
            document.getElementById("overview_form").style.display = 'block';
            document.getElementById("text_comment").classList.remove('active');
            $('.nav-link').removeClass('active');
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $.ajax({
            type: 'GET',
            url: 'http://localhost:57678/Course/@ViewBag.courseId',
            success: function (value) {

                $('#overview_form').append(
                    `<dl class="row">
                        <h4>Overview</h4>
                        <dt class="col-sm-3">Title</dt>
                        <dd class="col-sm-9">${value.title}</dd>

                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">${value.description}</dd>

                        <dt class="col-sm-3">Duration</dt>
                        <dd class="col-sm-9">25h</dd>
                    </dl>`
                );
                $('#video_course').append(
                    `<video id="my-video" class="video-js vjs-theme-forest" controls preload="auto"
                           poster=""${value.image}" data-setup="{}" width="798" height="344">
                        <source src="${value.image}" type="video/mp4" />
                    </video>`
                );
            }
        });

        $.ajax({
            type: 'GET',
            url: 'http://localhost:57678/Course/@ViewBag.courseId',
            success: function (data) {
                $.each(data.sections, function (key, value) {
                    $('#list_course_sections').append(
                        `<a href="#" class="list-group-item list-group-item-secondary rounded-0">
                            <h5 class="mb-1">${value.courseContentTitle}</h5>
                        </a>
                        `
                    );
                    $.each(value.lessons, function (key, value1) {

                        $('#list_course_sections').append(
                            `
                        <a class="list-group-item list-group-item-action rounded-0">
                            <div class="d-flex w-100 justify-content-between">
                                <span onclick="showVideo('${value1.id}')"><h5 class="mb-1">${value1.title}</h5></span>
                                <small class="text-muted">${value1.duration}</small>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                            <small class="text-muted">And some muted small print.</small>
                        </a>`
                        );
                    });
                    $.each(value.quizzs, function (key, value2) {

                        $('#list_course_sections').append(
                            `
                        <a onclick="showQuizz('${value2.id}')" class="list-group-item list-group-item-action rounded-0">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">${value2.title}</h5>
                                <small class="text-muted">${value2.duration}</small>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                            <small class="text-muted">And some muted small print.</small>
                        </a>`
                        );
                    });
                });
            },
        });

        function showVideo(id) {
            $.ajax({
                url: 'http://localhost:57678/Course/Lecture/' + id,
                type: "GET",
                success: function (data) {
                    console.log('abc');
                    console.log(data.lessonTitle, data.video);

                    $('#course_video').empty();
                    $('#course_video').append(
                        `<iframe src="${data.video}" title="YouTube video" allowfullscreen></iframe>`
                    );
                },
                error: function (e) {
                    alert('fail');
                }
            });
        }

        function showQuizz(id) {
            $.ajax({
                url: 'http://localhost:57678/Course/Quizz/'+id,
                type: "GET",
                success: function (data) {
                    $('#course_video').empty();
                    $('#quizz_questions').empty();
                    $('#course_video').append(
                        `<div id="carouselExampleInterval" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                            <div class="carousel-inner" id="quizz_questions">

                            </div>
                            <button class="carousel-control-prev" type="button" style="align-items: end;" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" style="background-color:red; width:100%;" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" style="align-items: end;" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" style="background-color: red; width: 100%;" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>`
                    );
                    $.each(data, function (key, value) {
                        $.each(value.question, function (key1, value1) {
                            $('#quizz_questions').append(
                                `<div id="quizz_answers" class="carousel-item ${key1 === 0 ? 'active' : ''}">
                                    <h2 style="margin-top:50px">${value1.title}</h2>
                                </div>`
                            );
                            $.each(value1.answer, function (key2, value2) {
                                $('#quizz_answers').append(
                                    `<input type="submit" onclick="answer('${value.id}','${value2.id}')" style="width: 90%; margin: 10px 20px; text-align: left; background: none" id="answer_${value2.id}" value="${value2.title}" />`
                                );
                            });
                        })
                    });
                },
            });
        }

        function answer(id, id2) {
            $.ajax({
                url: 'http://localhost:57678/Course/Quizz/' + id,
                type: "GET",
                success: function (data) {
                    var result = false;
                    $.each(data, function (key, value) {
                        $.each(value.question, function (key1, value1) {
                            $.each(value1.answer, function (key2, value2) {
                                if (value2.id === id2) {
                                    result = value2.isCorrect;
                                }
                            });
                        })
                    });
                    if (result === true) {
                        document.getElementById("answer_" + id2).style.backgroundColor = 'green';
                    }
                    else {
                        document.getElementById("answer_" + id2).style.backgroundColor = 'red';

                    }
                },
            });
        }

        $.ajax({
            type: 'GET',
            url: 'http://localhost:57678/Course/Comment/@ViewBag.courseId',
            success: function (data) {
                $.each(data.discussions, function (key, value) {
                    if (value.parentId === null) {
                        $('#comment_form').append(
                            `<!---card-->
                            <div class="card">
                                <div class="card-body" id="sub_comment_${value.id}">
                                    <div class="d-flex flex-start align-items-center">
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                             height="60" />
                                        <div>
                                            <h6 class="fw-bold text-primary mb-1">${value.username}</h6>
                                        </div>
                                    </div>

                                    <p class="mt-3 mb-4 pb-2">${value.comment}</p>
                                    <input type="hidden" id="parentId_${value.id}" value="${value.id}" />

                                    <div class="small d-flex justify-content-end">
                                        <div class="d-flex flex-start w-100 reply">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                                                 height="40" />
                                            <div class="form-outline w-100">
                                                <textarea class="form-control" id="reply_${value.id}" rows="2" placeholder="Reply"
                                                          style="background: #fff;"></textarea>
                                            </div>
                                            <div class="float-end">
                                                <button type="button" class="btn btn-primary btn-sm" onclick="reply('${value.id}')">Reply</button>
                                            </div>
                                        </div>
                                    </div>

                                    

                                </div>
                            </div>`
                        );
                        $.each(data.discussions, function (key1, value1) {
                            if (value1.parentId === value.id) {
                                $('#sub_comment_'+value.id).append(
                                    `<div class="card-body reply">
                                        <div class="d-flex flex-start align-items-center">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                                 height="60" />
                                            <div>
                                                <h6 class="fw-bold text-primary mb-1">${value1.username}</h6>
                                                <p class="text-muted small mb-0">
                                                    Shared publicly - Jan 2020
                                                </p>
                                            </div>
                                        </div>
                                        <p class="mt-3 mb-4 pb-2">${value1.comment}</p>
                                    </div>`
                                );
                            }
                        })
                    }
                })
            }
        });

        function comment() {
            var comment = $("#comment").val();
            $.ajax({
                url: "http://localhost:57678/Courses/Comment",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ 'userId': '@ViewBag.studentId', 'comment': comment, 'courseId': '@ViewBag.courseId' }),
                success: function (data) {
                    window.location.reload();
                },
                error: function (e) {
                    window.location.reload();
                }
            });
        }

        function reply(id) {
            var comment = $("#reply_"+id).val();
            var parentId = $("#parentId_"+id).val();
            $.ajax({
                url: "http://localhost:57678/Courses/Reply",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ 'userId': '@ViewBag.studentId', 'comment': comment, 'courseId': '@ViewBag.courseId', 'parentId': parentId }),
                success: function (data) {
                    window.location.reload();
                },
                error: function (e) {
                    window.location.reload();
                }
            });
        }
    </script>
</body>
</html>



