﻿
@{
    ViewData["Title"] = "CourseInstructor";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<div class="container-fluid" id="create_course">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="st_title"><i class="uil uil-book-alt"></i>Courses</h2>
        </div>
        <div class="col-md-12">
            <div class="card_dash1">
                <div class="card_dash_left1">
                    <i class="uil uil-book-alt"></i>
                    <h1>Jump Into Course Creation</h1>
                </div>
                <div class="card_dash_right1">
                    <button class="create_btn_dash" onclick="">Create Your Course</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="course_form">
        <div class="col-md-12">
            <div class="my_courses_tabs">
                <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill"
                           href="#pills-my-courses" role="tab" aria-controls="pills-my-courses"
                           aria-selected="true"><i class="uil uil-book-alt"></i>My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-my-purchases-tab" data-toggle="pill"
                           href="#pills-my-purchases" role="tab" aria-controls="pills-my-purchases"
                           aria-selected="false"><i class="uil uil-download-alt"></i>Waiting for approve</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-promotions-tab" data-toggle="pill"
                           href="#pills-promotions" role="tab" aria-controls="pills-promotions"
                           aria-selected="false"><i class="uil uil-megaphone"></i>Promotions</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                        <div class="table-responsive mt-30">
                            <table class="table ucp-table">
                                <thead class="thead-s">
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th>Title</th>
                                        <th class="text-center" scope="col">Updated Date</th>
                                        <th class="text-center" scope="col">Price</th>
                                        <th class="text-center" scope="col">Category</th>
                                        <th class="text-center" scope="col">Status</th>
                                        <th class="text-center" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="all_courses">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-my-purchases" role="tabpanel">
                        <div class="table-responsive mt-30">
                            <table class="table ucp-table">
                                <thead class="thead-s">
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th>Title</th>
                                        <th class="text-center" scope="col">Updated Date</th>
                                        <th class="text-center" scope="col">Price</th>
                                        <th class="text-center" scope="col">Category</th>
                                        <th class="text-center" scope="col">Status</th>
                                        <th class="text-center" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="approve_courses">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-promotions" role="tabpanel"
                         aria-labelledby="pills-promotions-tab">
                        <div class="table-responsive mt-30">
                            <table class="table ucp-table">
                                <thead class="thead-s">
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th>Title</th>
                                        <th class="text-center" scope="col">Updated Date</th>
                                        <th class="text-center" scope="col">Price</th>
                                        <th class="text-center" scope="col">Category</th>
                                        <th class="text-center" scope="col">Status</th>
                                        <th class="text-center" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="block_courses">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/Course",
        success: function (data) {
            $.each(data, function (key, value) {
                $('#all_courses').append(
                    `<tr>
                        <td class="text-center">1</td>
                        <td><a href="/Section/Index?id=${value.id}">${value.title}</a></td>
                        <td class="text-center">${value.updateAt}</td>
                        <td class="text-center">${value.price}</td>
                        <td class="text-center">
                            <span class="text-primary">${value.category}</span>
                        </td>
                        <td class="text-center ">
                            <b class="course_active ">${value.status}</b>
                        </td>
                        <td class="text-center d-flex justify-content-center">
                            <button class="create_btn_dash" onclick="edit_course_form('${value.id}')">Edit</button>
                            <button class="create_btn_dash" onclick="delete_instructor_course('${value.id}')">Delete</button>
                        </td>
                    </tr>`
                );
            });
        },
    });

    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/ApproveCourse",
        success: function (data) {
            $.each(data, function (key, value) {
                $('#approve_courses').append(
                    `<tr>
                        <td class="text-center">1</td>
                        <td>${value.title}</td>
                        <td class="text-center">${value.updateAt}</td>
                        <td class="text-center">${value.price}</td>
                        <td class="text-center">
                            <span class="text-primary">${value.category}</span>
                        </td>
                        <td class="text-center ">
                            <b class="course_active ">${value.status}</b>
                        </td>
                        <td class="text-center d-flex justify-content-center">
                            <button class="create_btn_dash" onclick="">Edit</button>
                            <button class="create_btn_dash" onclick="delete_instructor_course('${value.id}')">Delete</button>
                        </td>
                    </tr>`
                );
            });
        },
    });

    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/BlockCourse",
        success: function (data) {
            $.each(data, function (key, value) {
                $('#block_courses').append(
                    `<tr>
                        <td class="text-center">1</td>
                        <td>${value.title}</td>
                        <td class="text-center">${value.updateAt}</td>
                        <td class="text-center">${value.price}</td>
                        <td class="text-center">
                            <span class="text-primary">${value.category}</span>
                        </td>
                        <td class="text-center ">
                            <b class="course_active ">${value.status}</b>
                        </td>
                        <td class="text-center d-flex justify-content-center">
                            <button class="create_btn_dash" onclick="">Edit</button>
                            <button class="create_btn_dash" onclick="delete_instructor_course('${value.id}')">Delete</button>
                        </td>
                    </tr>`
                );
            });
        },
    });

    function delete_instructor_course(id) {
        $.ajax({
            url: "http://localhost:57678/Course/" + id,
            type: "put",
            headers: { 'Authorization': 'Bearer @ViewBag.token' },
            contentType: "application/json",
            success: function () {
                location.reload();
            }
        })
    }

    function edit_course_form(id) {
        $.ajax({
            type: 'GET',
            url: "http://localhost:57678/Course/" + id,
            success: function (data) {
                $('#course_form').attr('style', 'display: none');
                $('#create_course').append(
                    `<div class="row">
                        <div class="col-lg-12">
                            <div class="extra_info">
                                <h4 class="part__title">New Lecture</h4>
                            </div>

                            <div class="view_info10">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <div class="ui search focus mt-30 lbel25">
                                            <label>Course Title*</label>
                                            <div class="ui left icon input swdh19">
                                                <input class="prompt srch_explore"
                                                        type="text"
                                                        placeholder="Insert your lecture title."
                                                        name="title"
                                                        data-purpose="edit-course-title"
                                                        maxlength="60" id="title_edit_course" value="${data.title}"
                                                        required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="part_input mt-30 lbel25">
                                            <label>Image</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file"
                                                            class="custom-file-input"
                                                            id="lectureFileInput_edit"
                                                            name="file" required="" value="${data.image}"
                                                            onchange="onLectureFileChange()">
                                                    <label class="custom-file-label"
                                                            for="inputGroupFile06">
                                                        Choose
                                                        Image
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="ui search focus mt-30 lbel25">
                                            <label>Price</label>
                                            <div class="ui left icon input swdh19">
                                                <input class="prompt srch_explore" value="${data.price}"
                                                        type="number" id="price_edit_course" placeholder="0" name="position"
                                                        required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="course_des_textarea mt-30 lbel25">
                                            <label>Description*</label>
                                            <textarea id="description_edit_course" rows="210" cols="200">${data.description}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="ui search focus mt-30 lbel25">
                                            <label>SubCategory*</label>
                                            <div class="ui left icon input swdh19 swdh95">
                                                <select id="list_edit_course_subcategory">

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="ui search focus mt-30 lbel25">
                                            <label>Language*</label>
                                            <div class="ui left icon input swdh19 swdh55">
                                                <select id="list_edit_course_language">

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-12">
                                        <button class="part_btn_save prt-sv" type="submit" onclick="edit_course('${data.id}')">
                                            Save Course
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                );
                $.ajax({
                    type: 'GET',
                    url: "http://localhost:57678/SubCategory",
                    success: function (result) {
                        $.each(result, function (key, value) {

                            $('#list_edit_course_language').append(
                                `<option value="${value.id}" ${data.languageId == value.id ? 'selected' : ''}>${value.name}</option>`
                            );
                        });
                    },
                });
                $.ajax({
                    type: 'GET',
                    url: "http://localhost:57678/Languages",
                    success: function (result) {
                        $.each(result, function (key, value) {

                            $('#list_edit_course_subcategory').append(
                                `<option value="${value.id}" ${data.subCategoryId == value.id ? 'selected' : ''}>${value.name}</option>`
                            );
                        });
                    },
                });
            },
        });
    }

    function edit_course(id) {
        var title = $("#title_edit_course").val();
        var category = $("#list_edit_course_subcategory").val();
        var price = $("#price_edit_course").val();
        var image = $("#lectureFileInput_edit").val();
        var language = $("#list_edit_course_language").val();
        var des = $("#description_edit_course").val();
        $.ajax({
            url: "http://localhost:57678/Course/Update",
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'courseId': id, 'title': title, 'originPrice': price, 'subCategoryId': category, 'description': des, 'ImageUrl': 'abc.png', 'LanguageId': language }),
            success: function (data) {
                location.reload();
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }
</script>

