﻿@{
    ViewData["Title"] = "Filter Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-body {
        background: transparent;
        border: none;
    }
</style>
<div class="container-fluid">
    <div class="sa4d25 mb4d25">
        <div class="row">
            <div class="row justify-content-between" style="width:100%;">
                <div class="col-lg-3 col-md-4">

                    <input type="hidden" name="sort" value="1" id="sort">
                    <div class="section3125 hstry142">
                        <div class="result_stitles">
                            <div class="rs6t_title">Filters</div>
                            <div class="filter_selector">
                                <div class="ui inline dropdown flt145" tabindex="0">
                                    <div class="text">Sort</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu" tabindex="-1">
                                        <div class="item" onclick="sortChange(1)">Newest</div>
                                        <div class="item" onclick="sortChange(2)">Lowest Price</div>
                                        <div class="item" onclick="sortChange(3)">Highest Price</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb_145">
                            <div class="panel-group accordion" id="accordionfilter">
                                <div class="panel panel-default m-0">
                                    <div class="panel-heading" id="headingOne">
                                        <div class="panel-title10">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-target="#collapseOne" href="#collapseOne"
                                                aria-expanded="false" aria-controls="collapseOne">
                                                Topic
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse"
                                            aria-labelledby="headingOne" data-parent="#accordionfilter">
                                        <div class="panel-body">
                                            <div class="ui form">
                                                <div class="grouped fields" id="list_cate_filter">
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default m-0">
                                    <div class="panel-heading" id="headingfour">
                                        <div class="panel-title10">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-target="#collapsefour" href="#"
                                                aria-expanded="false" aria-controls="collapsefour">
                                                Price
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapsefour" class="panel-collapse collapse"
                                            aria-labelledby="headingfour" data-parent="#accordionfilter">
                                        <div class="panel-body">
                                            <div class="ui form">
                                                <div class="grouped fields">
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck" style="display:flex;">
                                                                <input type="number" name="price"
                                                                        tabindex="0" style="width:40%; margin-right:10%;" id="price_min"
                                                                         placeholder="Min">
                                                                <input type="number" name="price"
                                                                        tabindex="0" style="width:40%;" id="price_max"
                                                                         placeholder="Max">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button onclick="Filter_Course()" style="padding:5px 20px; border-radius: 5px; float: right; border:none; background-color: red; color:white;">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="_14d25 mb-20">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="mhs_title">
                                    Filters Results
                                </h4>

                                <div class="row" id="lists_courses_filter">
                                    

                                </div>

                            </div>
                            <div class="col-md-12 text-center">
                                <div class="main-loader mt-50">
                                    <div class="ui pagination menu" role="navigation">

                                        <a class="icon item disabled" aria-disabled="true"
                                           aria-label="« Previous"> <i class="left chevron icon"></i> </a>
                                        <a class="item active"
                                           href="#"
                                           aria-current="page">1</a>
                                        <a class="item"
                                           href="#">2</a>


                                        <a class="icon item"
                                           href="#"
                                           rel="next" aria-label="Next »">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function sortChange(sort) {
        document.getElementById("sort").value = sort
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var listCate = [];
    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/SubCategory",
        success: function (data) {
            listCate = data;
            $.each(data, function (key, value) {

                $('#list_cate_filter').append(
                    `<div class="ui form checkbox_sign">
                        <div class="inline field">
                            <div>
                                <input type="checkbox" tabindex="0" style="margin-top:5px;"
                                        id="cate_filter_${value.id}" name="category"
                                        value="${value.id}">
                                <label>${value.name}</label>
                            </div>
                        </div>
                    </div>`
                );
            });
        },
    });

    function Filter_Course() {
        var cate = [];
        listCate.forEach(item => {
            if ($("#cate_filter_" + item.id).is(":checked")) {
                var checkbox = $("#cate_filter_" + item.id).val();
                if (checkbox) {
                    cate.push(checkbox);
                }
            }
        });
        var min = $("#price_min").val();
        var max = $("#price_max").val();
        $.ajax({
            url: "http://localhost:57678/Filter",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'category': cate, 'min': min, 'max': max}),
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#lists_courses_filter').append(
                        `<div class="col-xl-5 col-lg-6 col-md-6">
                        <div class="item">
                            <div class="fcrse_1 mb-20">
                                <a href="#"
                                    class="fcrse_img">
                                    <img src="${value.image}"
                                            alt="">
                                    <div class="course-overlay">

                                        <span class="play_btn1">
                                            <i class="uil uil-play"></i>
                                        </span>

                                        <div class="crse_timer">
                                            0 hours
                                        </div>
                                    </div>
                                </a>
                                <div class="fcrse_content">
                                    <div class="vdtodt">
                                        <span class="vdt14">47 views</span>
                                        <span class="vdt14">${value.updateAt}</span>
                                    </div>
                                    <a href="#"
                                        class="crse14s">${value.title}</a>
                                    <a href="#" class="crse-cate">
                                        ${value.category}
                                    </a>
                                    <div class="auth1lnkprce">
                                        <p class="cr1fot">
                                            By <a href="#">Jemmy</a>
                                        </p>
                                        <div class="prce142">$${value.price}</div>
                                        <button class="shrt-cart-btn text-success"
                                                title="cart">
                                            <i class="uil uil-bag"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                    );
                });
            },
            error: function (e) {
                alert('fail');
            }
        });
    }
</script>
