﻿
<div class="desktop-1screen" id="pop">
    <div class="component-8">
        <div class="overlap-group4">
            <div>
                <div class="component-3">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="email-addressinter-normal-black-14px">
                            <span class="inter-normal-black-14px">Email Address</span>
                        </div>
                    </div>
                </div>
                <div class="component-4">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="course-nameinter-normal-black-14px">
                            <span class="inter-normal-black-14px">Course Name</span>
                        </div>
                    </div>
                </div>
                <div class="component-5">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="totalinter-normal-black-14px">
                            <span class="inter-normal-black-14px">Total</span>
                        </div>
                    </div>
                </div>
                <div class="button_payment">
                    <div class="continue-to-paymentinter-normal-white-14px">
                        <span class="inter-normal-white-14px">Continue to Payment</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Variables */
    .show {
        display:block;
    }

    .desktop-1screen{
        display: none;
    }

    :root {
        --black: rgba(0, 0, 0, 1);
        --star-dust: rgba(159, 160, 160, 1);
        --blue-chalk: rgba(228, 230, 252, 1);
        --orange-red: rgba(237, 42, 38, 1);
        --coconut: rgba(253, 253, 255, 1);
        --white: rgba(255, 255, 255, 1);
        --font-size-m: 14px;
        --font-size-l: 26px;
        --font-family-inter: "Inter";
    }

    /* Classes */

    .inter-normal-orange-red-26px {
        color: var(--orange-red);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-l);
        font-weight: 400;
        font-style: normal;
    }

    .inter-normal-black-14px {
        color: var(--black);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 400;
        font-style: normal;
    }

    .inter-normal-white-14px {
        color: var(--white);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 400;
        font-style: normal;
    }

    .inter-normal-star-dust-14px {
        color: var(--star-dust);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 400;
        font-style: normal;
    }
</style>
<style>

    .hidden,
    .hidden * {
        pointer-events: none;
        visibility: hidden;
    }

    .overlap-group4 {
        height: 821px;
        position: relative;
        width: 1147px;
    }

    .component-5 {
        align-items: flex-start;
        border: 1px none;
        display: flex;
        height: 32px;
        min-width: 975px;
        position: absolute;
        top: 525px;
    }

    .overlap-group {
        height: 92px;
        margin-top: -1px;
        position: relative;
        width: 975px;
    }

    .total {
        left: 0;
        letter-spacing: 0;
        position: absolute;
        top: 0;
        width: 975px;
    }

    .rectangle {
        background-color: var(--coconut);
        border: 1px solid;
        border-color: var(--blue-chalk);
        border-radius: 17px;
        height: 32px;
        left: 0;
        position: absolute;
        top: 35px;
        width: 736px;
    }

    .component-8 {
        background-color: #fff;
        width: 50%;
        margin: auto;
        margin-top: 100px;
    }

    .component-2 {
        align-items: flex-start;
        border: 1px none;
        display: flex;
        flex-direction: column;
        min-height: 32px;
        position: absolute;
        top: 175px;
        width: 975px;
    }

    .st-name-container {
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        height: 59px;
        margin-top: 9px;
        min-width: 745px;
    }

    .last-name {
        letter-spacing: 0;
        margin-left: 91px;
        min-height: 59px;
        width: 327px;
    }

    .first-name {
        letter-spacing: 0;
        min-height: 59px;
        width: 327px;
    }

    .rectangle-5 {
        background-color: var(--coconut);
        border: 1px solid;
        border-color: var(--blue-chalk);
        border-radius: 17px;
        height: 32px;
        left: 0;
        position: absolute;
        top: 35px;
        width: 327px;
    }

    .rectangle-8 {
        background-color: var(--coconut);
        border: 1px solid;
        border-color: var(--blue-chalk);
        border-radius: 17px;
        height: 32px;
        left: 409px;
        position: absolute;
        top: 35px;
        width: 327px;
    }

    .place {
        left: 0;
        letter-spacing: 0;
        position: absolute;
        top: 0;
        width: 975px;
    }

    .component-4 {
        align-items: flex-start;
        border: 1px none;
        display: flex;
        height: 32px;
        min-width: 975px;
        position: absolute;
        top: 415px;
    }

    .course-name {
        left: 0;
        letter-spacing: 0;
        position: absolute;
        top: 0;
        width: 975px;
    }

    .title {
        letter-spacing: 0;
        min-height: 31px;
    }

    .button_payment {
        background-color: var(--orange-red);
        border: 1px none;
        border-radius: 29px;
        box-shadow: 0px 4px 4px #00000040;
        display: flex;
        margin-left: 171px;
        padding: 25px 127px;
        position: absolute;
        top: 658px;
    }

    .continue-to-payment {
        letter-spacing: 0;
        min-height: 17px;
    }

    .component-3 {
        align-items: flex-start;
        border: 1px none;
        display: flex;
        height: 32px;
        min-width: 975px;
        position: absolute;
        top: 305px;
    }

    .email-address {
        left: 0;
        letter-spacing: 0;
        position: absolute;
        top: 0;
        width: 975px;
    }

    .last-nameinter-normal-star-dust-14px {
        margin-right: 262px;
    }
</style>

