﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xl-9 col-lg-8">
    <div class="section3125">
        <h4 class="item_title">Live Streams</h4>
        <a href="#" class="see150">See all</a>
        <div class="la5lo1">
            <div class="owl-carousel live_stream owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1583px;">
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Eli Natoli</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Zoena</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <h4>bitss</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Jassica William</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Albert Dua</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Joginder Singh</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Jaysen Batchelor</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <h4>nicholas</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Ridhima</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="#"
                                       class="stream_bg">
                                        <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-1.jpg"
                                             alt="">
                                        <h4>Amritpal</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
    <div class="section3125 mt-50">
        <h4 class="item_title">Hot Courses</h4>
        <a href="#"
           class="see150">See all</a>
        <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" id="hot_course"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4008px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section3126">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_icon">
                        <i class="uil uil-history"></i>
                    </div>
                    <div class="value_content">
                        <h4>Go at your own pace</h4>
                        <p>Enjoy lifetime access to courses on website</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_icon">
                        <i class="uil uil-user-check"></i>
                    </div>
                    <div class="value_content">
                        <h4>Learn from industry experts</h4>
                        <p>Select from top instructors around the world</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_content">
                        <h4>Find video courses on almost any topic</h4>
                        <p>Build your library for your career and personal growth</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_content">
                        <h4>100,000 online courses</h4>
                        <p>Explore a variety of fresh topics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section3125 mt-50">
        <h4 class="item_title">Popular Instructors</h4>
        <a href="#" class="see150">
            See
            all
        </a>
        <div class="la5lo1">
            <div class="owl-carousel top_instrutors owl-theme owl-loaded owl-drag">

                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1603px;">
                        <div class="owl-item active" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="#">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="#6"
                                               class="tutor_name">Jaysen Batchelor</a>
                                        </div>
                                        <div class="tutor_cate">Backend Developer</div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/https://www.facebook.com/https://www.facebook.com/"
                                                   class="fb"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/https://twitter.com/"
                                                   class="tw"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/https://www.linkedin.com/"
                                                   class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/https://www.youtube.com/"
                                                   class="yu"><i class="fab fa-youtube"></i></a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">1 Students</span>
                                            <span class="vdt15">1 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="#">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="#"
                                               class="tutor_name">instructor</a>
                                            <div class="mef78" title="Verify">
                                                <i class="uil uil-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="tutor_cate">
                                            UI / UX Designer and Web Developer
                                        </div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/https://www.facebook.com/"
                                                   class="fb"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/" class="tw">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/" class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/" class="yu">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">0 Students</span>
                                            <span class="vdt15">0 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="#">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="#7"
                                               class="tutor_name">John Deo</a>
                                        </div>
                                        <div class="tutor_cate"></div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/" class="fb">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/" class="tw">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/" class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/" class="yu">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">0 Students</span>
                                            <span class="vdt15">0 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="#">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="#3"
                                               class="tutor_name">Raziya Blish</a>
                                            <div class="mef78" title="Verify">
                                                <i class="uil uil-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="tutor_cate"></div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/" class="fb">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/" class="tw">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/" class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/" class="yu">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">0 Students</span>
                                            <span class="vdt15">0 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-4">
    <div class="right_side">
        @if (User.Claims != null && User.Claims.ToArray().Length >= 8 && User.Claims.ElementAt(8).Value != null)
        {
            <div class="fcrse_2 mb-30">
                <div class="tutor_img">
                    <a href="#">
                        <img src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png"
                             alt="">
                    </a>
                </div>
                <div class="tutor_content_dt">
                    <div class="tutor150">
                        <a href="#1"
                           class="tutor_name">@User.Claims.ElementAt(1).Value</a>
                    </div>
                    <div class="tutor_cate"></div>
                    <ul class="tutor_social_links">
                        <li>
                            <a href="http://facebook.com/" class="fb">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/" class="tw"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/" class="ln">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/" class="yu">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tut1250">
                        <span class="vdt15">0 Students</span>
                        <span class="vdt15">0 Courses</span>
                    </div>
                    <a href="/Student/Profile"
                       class="prfle12link">Go To Profile</a>
                </div>
            </div>
        }
            <div class="fcrse_3">
                <div class="live_text">
                    <div class="live_icon"><i class="fa-solid fa-chalkboard-user"></i></div>
                    <div class="live-content">
                        <p>Do you want to be a teacher?</p>
                        <button class="live_link"
                                onclick="window.location.href = '/Account/RegisterForInstructor';">
                            Start teach!
                        </button>
                        <span class="livinfo">Info : This feature only for Instructors.</span>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="col-xl-12 col-lg-12">
    <div class="section3125 mt-30">
        <h4 class="item_title">What Our Student Have Today</h4>
        <div class="la5lo1">
            <div class="owl-carousel Student_says owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3607px;">
                        <div class="owl-item active" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            this course is so bad
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            dhaasdsafdsagdsagasgsdg123
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            ddssss232edffddfwdwefwfwef
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            Nice
                                            coursefdffffffffffffffffffffffffffffffffffffff..qdasdasd
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            Terrific course - Bravoio
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            good and it was so easy to grab
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            bueno gosteig gfgfgfgf
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            fgfgfgfgf fgfhgf fhgfhg fhfghg
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            Hola xD
                                            "Donec ac ex eu arcu euismod feugiat. In venenatis
                                            bibendum nisi, in placerat eros ultricies vitae.
                                            Praesent pellentesque blandit scelerisque. Suspendisse
                                            potenti."
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            test test test test test test test test test test test
                                            test test
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://hanoi1000.vn/wp-content/uploads/2022/04/AVT-Chibi-13.jpg"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>


    $.ajax({
        type: 'GET',
        url: 'http://localhost:57678/ActiveCourse',
        success: function (data) {
            
            var hotCourse = data.slice(0,6);
            $.each(hotCourse, function (key, value) {
                $('#hot_course').append(
                    `<div class="owl-item active" style="width: 350.75px; margin-right: 10px;">
                        <div class="item">
                            <div class="fcrse_1 mb-20" style="height: 350px; width: 330px;">
                                <a href="#"
                                    class="fcrse_img">
                                    <img src="${value.video}"
                                            alt="">
                                    <div class="course-overlay">
                                        <div class="badge_seller">Bestseller</div>
                                        <div class="crse_reviews">
                                            <i class="uil uil-star"></i>3.0
                                        </div>

                                        <span class="play_btn1">
                                            <i class="uil uil-play"></i>
                                        </span>

                                        <div class="crse_timer">
                                            0 hours
                                        </div>
                                    </div>
                                </a>
                                <div class="fcrse_content">
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                        <div class="dropdown-content">
               
                                            <a href="#">
                                                <span onclick="SaveCourse()">
                                                    <i class="uil uil-heart"></i>
                                                    Save
                                                </span>
                                            </a>
                                            <a href="#">
                                                <span>
                                                    <i class="uil uil-windsock"></i>Report
                                                </span>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="vdtodt">
                                        <span class="vdt14">3.9K views</span>
                                        <span class="vdt14">Updated: ${value.updateAt}</span>
                                    </div>
                                    <a href="/Course/CourseDetail/${value.id}"
                                        class="crse14s">
                                        ${value.title}
                                    </a>
                                    <a href="#" class="crse-cate">
                                        Category: ${value.category}
                                    </a>
                                    <a href="#" class="crse-cate">
                                        Price: $${value.price}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                );
            });
        }
    });

    function SaveCourse(id) {
        $.ajax({
            url: "http://localhost:57678/AddCategory",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'name': name, 'status': status }),
            success: function (data) {
                alert("Created successfully")
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }
</script>
