﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="st_title"><i class="uil uil-apps"></i> Instructor Dashboard</h2>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card_dash">
                <div class="card_dash_left">
                    <h5>Total Sales</h5>
                    <h2 id="total_sale"></h2>
                   
                </div>
                <div class="card_dash_right">
                    <img src="#"
                         alt="">
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card_dash">
                <div class="card_dash_left">
                    <h5>Total Enroll</h5>
                    <h2 id="total_enroll"></h2>
                   
                </div>
                <div class="card_dash_right">
                    <img src="#"
                         alt="">
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card_dash">
                <div class="card_dash_left">
                    <h5>Total Courses</h5>
                    <h2 id="total_course"></h2>
                   
                </div>
                <div class="card_dash_right">
                    <img src="#"
                         alt="">
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card_dash">
                <div class="card_dash_left">
                    <h5>Total Students</h5>
                    <h2 id="total_student"></h2>
                   
                </div>
                <div class="card_dash_right">
                    <img src="#"
                         alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card_dash1">
                <div class="card_dash_left1">
                    <i class="uil uil-book-alt"></i>
                    <h1>Jump Into Course Creation</h1>
                </div>
                <div class="card_dash_right1">
                    <button class="create_btn_dash"
                            onclick="window.location.href ='Course/Create/';">
                        Create
                        Your Course
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/dashboard/get-total-course-by-day",
        success: function (data) {
            $('#total_sale').append('$' + data.totalSales);
            $('#total_student').append(data.totalStudent);
            $('#total_course').append(data.totalCourse);
            $('#total_enroll').append(data.totalEnrollment);
        },
    });
</script>

