﻿
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/admin-style.css">
    <link rel="stylesheet" href="~/css/test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 offset-md-3  offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="login-brand">
                            <i class="fa-solid fa-book-open-reader text-primary auth-icon"></i>

                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Login</h4>
                            </div>

                            <div class="card-body">
                                <form action="/Account/Login" method="post">
                                    <input type="hidden" name="_token" value="WFs7ZeqCjSjvMXYE3LxzneuT0xkeVAOpfUwj49yB">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input aria-describedby="emailHelpBlock" id="email_login" type="text"
                                               class="form-control" name="email" placeholder="Email" tabindex="1"
                                               autofocus>
                                        <div class="invalid-feedback">

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">Password</label>
                                            <div class="float-right">

                                            </div>
                                        </div>
                                        <input aria-describedby="passwordHelpBlock" id="password_login" type="password"
                                               placeholder="Password" class="form-control" name="password" tabindex="2">
                                        <div class="invalid-feedback">

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="remember" class="custom-control-input"
                                                   tabindex="3" id="remember">
                                            <label class="custom-control-label" for="remember">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    
    <script type="text/javascript">
        //function login() {
        //    var email_login = $("#email_login").val();
        //    var pass_login = $("#password_login").val();
            
        //    $.ajax({
        //        url: "http://localhost:57678/Login",
        //        type: "POST",
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        data: JSON.stringify({ 'Email': email_login, 'Password': pass_login }),
        //        success: function (data) {
        //            console.log(data)
        //            if (data.user.roles[0] == "Student") {
        //                window.location.href = '/Home/Index';
        //            }
        //            if (data.user.roles[0] == "Admin") {
        //                window.location.href = '/AdminHome/Index';
        //            }
        //            if (data.user.roles[0] == "Instructor") {
        //                window.location.href = '/Home/Index';
        //            }
        //        },
        //        error: function (e) {
        //            alert("fail")
        //            console.log('Error in Operation');
        //        }
        //    });
        //}
    </script>
</body>

</html>

