﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Dashboard</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item">Dashboard</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-success">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Total Admin</h4>
                        </div>
                        <div class="card-body" id="total_admins">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-dark">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Total Instructor</h4>
                        </div>
                        <div class="card-body" id="total_instructors">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-warning">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Total Student</h4>
                        </div>
                        <div class="card-body" id="total_students">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Statistics</h4>
                    </div>
                    <div id="chartContainer" style="height: 300px; width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-lg-3 col-sm-12">
                <div class="card card-statistic-2">

                    <div class="card-icon shadow-info bg-info">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Course</h4>
                        </div>
                        <div class="card-body" id="total_courses">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12">
                <div class="card card-statistic-2">

                    <div class="card-icon shadow-warning bg-warning">
                        <i class="far fa-hand-spock"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>waiting For Approval</h4>
                        </div>
                        <div class="card-body" id="total_wait">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12">
                <div class="card card-statistic-2">

                    <div class="card-icon shadow-dark bg-dark">
                        <i class="fas fa-ban"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Block</h4>
                        </div>
                        <div class="card-body" id="total_block">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="card card-statistic-2">

                    <div class="card-icon shadow-primary bg-primary">
                        <i class="far fa-trash-alt"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Deleted</h4>
                        </div>
                        <div class="card-body" id="total_delete">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 ">
                <div class="card gradient-bottom ">
                    <div id="chartPieContainer" style="height: 475px; width: 100%;"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card gradient-bottom">
                    <div class="card-header">
                        <h4>Top 5 Instructor</h4>

                    </div>
                    <div class="card-body courses-5 scrollbar" id="style-1" tabindex="2">
                        <ul class="list-unstyled list-unstyled-border">

                            <li class="media">
                                <img class="mr-3 rounded" width="55"
                                     src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png"
                                     alt="product">
                                <div class="media-body">
                                    <div class="float-right">
                                        <div class="font-weight-600 text-muted text-small">
                                            22
                                            Sales
                                        </div>
                                    </div>
                                    <div class="media-title">Jemmy</div>
                                    <div class="mt-1">
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-primary" data-width="64%"
                                                 style="width: 64%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $68,578.03
                                            </div>
                                        </div>
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-success" data-width="43%"
                                                 style="width: 43%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $2,120.97
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media">
                                <img class="mr-3 rounded" width="55"
                                     src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png"
                                     alt="product">
                                <div class="media-body">
                                    <div class="float-right">
                                        <div class="font-weight-600 text-muted text-small">
                                            3
                                            Sales
                                        </div>
                                    </div>
                                    <div class="media-title">Zoena</div>
                                    <div class="mt-1">
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-primary" data-width="64%"
                                                 style="width: 64%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $72.75
                                            </div>
                                        </div>
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-success" data-width="43%"
                                                 style="width: 43%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $2.25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media">
                                <img class="mr-3 rounded" width="55"
                                     src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png"
                                     alt="product">
                                <div class="media-body">
                                    <div class="float-right">
                                        <div class="font-weight-600 text-muted text-small">
                                            3
                                            Sales
                                        </div>
                                    </div>
                                    <div class="media-title">Jassica William</div>
                                    <div class="mt-1">
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-primary" data-width="64%"
                                                 style="width: 64%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $52.38
                                            </div>
                                        </div>
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-success" data-width="43%"
                                                 style="width: 43%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $1.62
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media">
                                <img class="mr-3 rounded" width="55"
                                     src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png"
                                     alt="product">
                                <div class="media-body">
                                    <div class="float-right">
                                        <div class="font-weight-600 text-muted text-small">
                                            2
                                            Sales
                                        </div>
                                    </div>
                                    <div class="media-title">Joginder Singh</div>
                                    <div class="mt-1">
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-primary" data-width="64%"
                                                 style="width: 64%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $19.40
                                            </div>
                                        </div>
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-success" data-width="43%"
                                                 style="width: 43%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $0.60
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media">
                                <img class="mr-3 rounded" width="55"
                                     src="https://img-c.udemycdn.com/user/50x50/anonymous_3.png"
                                     alt="product">
                                <div class="media-body">
                                    <div class="float-right">
                                        <div class="font-weight-600 text-muted text-small">
                                            2
                                            Sales
                                        </div>
                                    </div>
                                    <div class="media-title">Amritpal</div>
                                    <div class="mt-1">
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-primary" data-width="64%"
                                                 style="width: 64%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $34.92
                                            </div>
                                        </div>
                                        <div class="budget-price">
                                            <div class="budget-price-square bg-success" data-width="43%"
                                                 style="width: 43%;">
                                            </div>
                                            <div class="budget-price-label">
                                                $1.08
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="card-footer pt-3 d-flex justify-content-center">
                        <div class="budget-price justify-content-center">
                            <div class="budget-price-square bg-primary" data-width="20"
                                 style="width: 20px;"></div>
                            <div class="budget-price-label">Instructor Earning</div>
                        </div>
                        <div class="budget-price justify-content-center">
                            <div class="budget-price-square bg-success" data-width="20"
                                 style="width: 20px;"></div>
                            <div class="budget-price-label">Admin Commission</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-success">
                        <i class="fa fa-language"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Languages</h4>
                        </div>
                        <div class="card-body" id="total_lang">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-light">
                        <i class="fas fa-list-ul"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Category</h4>
                        </div>
                        <div class="card-body" id="total_cate">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-sm-6 col-12">
                <div class="card card-statistic-1">
                    <div class="card-icon bg-info">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Sub Category</h4>
                        </div>
                        <div class="card-body" id="total_subcate">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var dataChart = [];
    var dataPieChart = [];
    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/dashboard/InstructorEarning",
        success: function (data) {
            dataChart = data;
        },
    });

    $.ajax({
        type: 'Post',
        url: "http://localhost:57678/GetAll",
        success: function (data) {
            dataPieChart.push(data.admins, data.students, data.instructors);
            $('#total_courses').append(data.courses);
            $('#total_wait').append(data.courseWaiting);
            $('#total_block').append(data.courseBlock);
            $('#total_delete').append(data.courseDelete);
            $('#total_lang').append(data.language);
            $('#total_cate').append(data.category);
            $('#total_subcate').append(data.subcategory);
            $('#total_admins').append(data.admins);
            $('#total_students').append(data.students);
            $('#total_instructors').append(data.instructors);
        },
    });


</script>
<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
        {
            title: {
                text: "Instructor Earning"
            },
            axisY: {
                title: "Earning"
            },
            legend: {
                verticalAlign: "bottom",
                horizontalAlign: "center"
            },
            data: [

                {
                    color:"#B0D0B0",
                    type: "column",
                    showInLegend: true,
                    legendMarkerType: "none",
                    legendText: "Date",
                    dataPoints: [
                        { x: 1, y: dataChart[0].sale, label: dataChart[0].month },
                        { x: 2, y: dataChart[1].sale, label: dataChart[1].month },
                        { x: 3, y: dataChart[2].sale, label: dataChart[2].month },
                        { x: 4, y: dataChart[3].sale, label: dataChart[3].month },
                        { x: 5, y: dataChart[4].sale, label: dataChart[4].month },
                        { x: 6, y: dataChart[5].sale, label: dataChart[5].month },
                        { x: 7, y: dataChart[6].sale, label: dataChart[6].month },
                        { x: 8, y: dataChart[7].sale, label: dataChart[7].month },
                        { x: 9, y: dataChart[8].sale, label: dataChart[8].month },
                        { x: 10, y: dataChart[9].sale, label: dataChart[9].month },
                        { x: 11, y: dataChart[10].sale, label: dataChart[10].month },
                        { x: 12, y: dataChart[11].sale, label: dataChart[11].month },
                    ]
                }
            ]
            });

        var chartPie = new CanvasJS.Chart("chartPieContainer",
            {
                title: {
                    text: "User Chart"
                },
                legend: {
                    maxWidth: 350,
                    itemWidth: 120
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        legendText: "{indexLabel}",
                        dataPoints: [
                            { y: dataPieChart[0], indexLabel: "Admin" },
                            { y: dataPieChart[1], indexLabel: "Student" },
                            { y: dataPieChart[2], indexLabel: "Instructor" },
                        ]
                    }
                ]
            });

        chartPie.render();
        chart.render();
    }

</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

