﻿
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <h2 class="st_title"><i class="uil uil-cog"></i>Your Profile</h2>
    <div class="setting_tabs">
        <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-account-tab" data-toggle="pill"
                   href="#pills-account" role="tab" aria-selected="true">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="pills-privacy-tab" data-toggle="pill" href="#pills-privacy"
                   role="tab" aria-selected="false">Password</a>
            </li>


        </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade  show active  " id="pills-account" role="tabpanel"
             aria-labelledby="pills-account-tab">
            <div class="account_setting">
                    <input type="hidden" name="_token"
                           value="ocKgzAWQs2TUKcyzsVXVpJ83UDbnFuTtvGIST1ZD"> <input type="hidden"
                                                                                    name="_method" value="put">
                    <h4>Your Account</h4>
                    <p>
                        This is your public presence on Cursus. You need a account to upload your
                        paid courses,
                        comment
                        on
                        courses, purchased by students, or earning.
                    </p>
                    <div class="basic_profile">
                        <div class="basic_ptitle">
                            <h4>Basic Profile</h4>
                            <p>Add information about yourself</p>
                        </div>
                        <div class="basic_form">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30">
                                                <label>UserName *</label>
                                                <div class="ui left  input swdh11 swdh19">
                                                    <input class="prompt srch_explore" type="text"
                                                           id="profile_username" value="@User.Claims.ElementAt(3).Value"
                                                           required="" maxlength="64"
                                                           placeholder="Username">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30">
                                                <label>Your email *</label>
                                                <div class="ui left  input swdh11 swdh19">
                                                    <input class="prompt srch_explore" type="text"
                                                           id="profile_email" value="@User.Claims.ElementAt(0).Value"
                                                           required="" maxlength="64"
                                                           placeholder="Email" readonly="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="part_input mt-30 lbel25">
                                                <label>Profile picture *</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input"
                                                               id="lectureFileInput" name="image"
                                                               accept="image/png">
                                                        <label class="custom-file-label"
                                                               for="inputGroupFile06">
                                                            No Choose file
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="divider-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="save_btn" onclick="SaveProfile()">Save Changes</button>
            </div>
        </div>
        <div class="tab-pane fade " id="pills-privacy" role="tabpanel"
             aria-labelledby="pills-privacy-tab">
                <input type="hidden" name="_token" value="ocKgzAWQs2TUKcyzsVXVpJ83UDbnFuTtvGIST1ZD">
                <input type="hidden" name="_method" value="put">
                <div class="account_setting">

                    <h4>Password Update</h4>
                    <p>Modify your password here.</p>
                    <div class="basic_profile">
                        <div class="basic_form">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="ui search focus mt-30">
                                                <div class="ui left  input swdh11 swdh19">
                                                    <input class="prompt srch_explore"
                                                           type="password" id="old_password"
                                                           required="" maxlength="64" minlength="6"
                                                           placeholder="Your old password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="ui search focus mt-30">
                                                <div class="ui left  input swdh11 swdh19">
                                                    <input class="prompt srch_explore"
                                                           type="password" id="new_password" required=""
                                                           maxlength="64" minlength="6"
                                                           placeholder="New Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="ui search focus mt-30">
                                                <div class="ui left icon input swdh11 swdh19">
                                                    <input class="prompt srch_explore" type="text"
                                                           id="password_confirmation" required=""
                                                           maxlength="60" minlength="6"
                                                           placeholder="Confirm your password">

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="save_btn" onclick="UpdatePassword()">Save Changes</button>
        </div>
        <div class="tab-pane fade" id="pills-closeaccount" role="tabpanel"
             aria-labelledby="pills-closeaccount-tab">
            <div class="account_setting">
                <h4>Close account</h4>
                <p>
                    <strong>Warning:</strong> If you close your account, you will be unsubscribed
                    from all your 5
                    courses, and will lose access forever.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="ui search focus mt-30">
                        <div class="ui left icon input swdh11 swdh19">
                            <input class="prompt srch_explore" type="password" name="yourassword"
                                   id="id_yourpassword" required="" maxlength="64"
                                   placeholder="Enter Your Password">
                        </div>
                        <div class="help-block">Are you sure you want to close your account?</div>
                    </div>
                    <button class="save_payout_btn mbs20" type="submit">Close Account</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function SaveProfile() {
        var username = $("#profile_username").val();
        var email = $("#profile_email").val();
        var id = '@User.Claims.ElementAt(4).Value';
        $.ajax({
            url: "http://localhost:57678/Users",
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'userName': username, 'email': email, 'id': id }),
            success: function (data) {
                window.location.reload();
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }

    function UpdatePassword() {
        var oldPassword = $("#old_password").val();
        var newPassword = $("#new_password").val();
        var confirm = $("#password_confirmation").val();
        var id = '@User.Claims.ElementAt(4).Value';
        $.ajax({
            url: "http://localhost:57678/Users/Password",
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'oldPassword': oldPassword, 'newPassword': newPassword, 'confirm': confirm, 'id': id }),
            success: function (data) {
                window.location.reload();
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }
</script>